.login .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: var(--sidebar);
    border-right: 1px solid var(--sidebar-border);
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.login-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.app-icon {
    max-width: 70%;
    height: auto;
    margin-right: 10rem;
}

.login-container {
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    min-width: 60%;
    background-color: var(--sidebar);
    border-right: 1px solid var(--sidebar-border);
    transition: all 0.2s;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 20px;
}

.login-home,
.login-premium,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-header {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-header-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.connect,
.cancel {
    color: #fff;
    padding: 0.5rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 15px auto;
    background-color: var(--box-button);
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.connect:hover,
.cancel:hover {
    background-color: var(--box-button-hover);
}

.cancel {
    margin-top: 10px;
}

.input-login .email,
.input-login .password,
.A2F {
    border: 2px solid transparent;
    width: 95%;
    height: 2.5em;
    padding-left: 0.8em;
    margin-top: 0.8em;
    outline: none;
    background-color: #F3F3F3;
    color: #000 !important;
    border-radius: 18px;
    transition: all 0.5s;
}

.input-login .email:focus,
.input-login .password:focus,
.A2F:focus,
.input-login .email:hover,
.input-login .password:hover,
.A2F:hover {
    border: 2px solid var(--box-button);
    box-shadow: 0px 0px 0px 7px rgba(from var(--box-button) r g b / 0.2);
    background-color: white;
}

.input-login .email::placeholder,
.input-login .password::placeholder,
.A2F::placeholder {
    color: #000000 !important;
    opacity: 0.5;
}