@import 'font.css';
@import 'theme.css';
@import 'panels/login.css';
@import 'panels/home.css';
@import 'panels/settings.css';

body {
    margin: 0;
    padding: 0;
    user-select: none;
    color: var(--color);
    font-family: 'Poppins';
    font-weight: bolder;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

* {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.content-scroll {
    overflow: auto;
}

.content-scroll::-webkit-scrollbar {
    width: 0;
}

.dragbar {
    position: fixed;
    /* background: #00000080; */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 26px;
    -webkit-app-region: drag;
    z-index: 11;
    display: none;
}

.frame {
    background: transparent;
    position: fixed;
    display: table;
    top: 0px;
    right: 0px;
    z-index: 11;
    -webkit-app-region: no-drag;
    display: none;
}

.hide {
    display: block;
}

.button-frame {
    position: relative;
    display: table-cell;
    width: 30px;
    height: 26px;
    transition: color .2s, background-color .2s;
    color: black;
    cursor: pointer;
}

.button-frame:before {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: #f8f9f9;
}

.icon-close:hover {
    background: #e21212;
}

.icon-minimize:hover,
.icon-restore-down:hover,
.icon-maximize:hover {
    background-color: #0000009d;
}

.popup {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-tab {
    width: 40%;
    padding: 15px;
    z-index: 10;
    background-color: var(--sidebar);
    border-right: 1px solid var(--sidebar-border);
    transition: all 0.2s;
    background: rgba( 0, 0, 0, 1 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.popup-title {
    text-align: center;
    font-size: 2rem;
    border-bottom: solid 4px var(--color);
    margin-bottom: 1rem;
}

.popup-options {
    display: none;
    align-items: end;
    flex-direction: column;
}

.popup-button {
    font-size: inherit;
    font-weight: bold;
    height: 2rem;
    width: auto;
    min-width: 4rem;
    padding: 0.3rem 4rem;
    margin: 15px 10px;
    text-align: center;
    margin: 0.5rem 0;
    background-color: var(--box-button);
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    transition: color 0.05s, background-color 0.2s, background-image 0.2s, top 0.2s, left 0.2s, height 0.2s, opacity 0.2s, margin 0.2s;
}
.popup-button:hover {
    background-color: var(--box-button-hover);
}

.panel {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    z-index: 0;
    pointer-events: none;
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition-delay: 0s, 0.2s; /* Add this line */
}

.active {
    opacity: 1;
    max-height: 100vh;
    z-index: 1;
    pointer-events: all;
    transition-delay: 0.2s, 0s; /* Add this line */
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: opacity 1s; /* adjust the duration as needed */
}

.background-video.next {
    opacity: 0;
}